In [1]:
import pandas as pd

In [2]:
#Question(1)- Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.
#Read the data set -Laliga.csv
sports = pd.read_csv("/home/amol/GL/StatisticalLearning/ProjectAssignment/Laliga.csv") # I am using Linux system
sports = sports.replace('-',0)

In [18]:
# Print all the teams which have started playing between 1930-1980. Use “Debut” column
# had raised query on Olympus to check if we need to include 1930 and 1980 both of exclude. 
# Answer is Include 1930 and exclude 1980.

In [3]:
#write function to check if the Debut year is between 1930-1980
def extractDebutYear(value) :
    flag= False
    if (len(value)==4) :
        #check if it is between 1930-1980
        year = int (value)
        if (year > 1930 and year <1980) :            
            flag=True
    elif (len(value)>4 and len(value) <=7) :
        #check if it year is 19th century year
        year1=int(value[:2])
        if (year1 == 19) :
            fromyear =int(value[2:4])   #E.g. => 1934-35...this line extracts 34
            toyear = int(value[5:])      #E.g. => 1934-35...this line extracts 35
            if (fromyear >= 30 and toyear <= 80) : 
                flag=True
    elif (len(value)>4 and len(value) <=9) :
        #check if it year is 19th century year
        year1=int(value[:2])
        if (year1 == 19) :
            fromyear =int(value[2:4])   #E.g. => 1934-35...this line extracts 34
            toyear = int(value[7:])      #E.g. => 1934-35...this line extracts 35
            if (fromyear >= 30 and toyear <= 80) : 
                flag=True
    return flag

In [4]:
#Lets create one new column which will be marked True if Teams which have started playing between 1930-1980 else False
sports['Debutyear'] = sports['Debut'].map(extractDebutYear)

In [ ]:
#QUestion(2)- Print all the teams which have started playing between 1930-1980. Use “Debut” column
sports[sports['Debutyear']==True]

In [9]:
#Question(3) -Print the list of teams which came Top 5 in terms of points
#set datatype of 'Points' column to int
sports.Points = sports.Points.astype(int)

In [10]:
sports.sort_values(by=['Points'],ascending=False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debutyear
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,False
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,False
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,False
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,True
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,False

In [11]:
#Question(4)- Write a function with name “Goal_diff_count” which should return all the teams with their 
#Goal Differences. Using the same function, find the team which has maximum and 
#minimum goal difference.
#Goal_diff_count = GoalsFor - GoalsAgainst

In [12]:
#Lets write function first 
#Input   : Dataframe object
#output  : Tuple object  - 1st : dictionary of teams with their Goal Difference
#                          2nd : dictionary of max and min goal difference and give are as below
#                                Keys - 'max' for maximum difference, 
#                                       'min' for min difference...considering GamesPlayed zero or more
#                                       'min_atleast_onegame_played' for min difference considering GamesPlayed > 0

def Goal_diff_count(df) :    
    teams={}                #to store Team and its "Goal Differences" in a dictionary variable
    max_min_goal_diff ={}   #to store team name of max and min goal difference
    max_diff =0             #lets initially assume max diff is zero
    min_diff =50000         #lets initially assume min diff some large value
    min_diff_1 = 50000      #lets initially assume min diff some large value
    gamesPlayed = 0
    
    #iterate through rows
    for index,row in df.iterrows() :
        goalsFor = int(row['GoalsFor'])
        goalsAgainst = int(row['GoalsAgainst'])
        team = row['Team']
        gamesPlayed=int(row['GamesPlayed'])
        
        Goal_diff_count = goalsFor - goalsAgainst
        
        teams[team] = Goal_diff_count
        
        #maximum difference
        if (Goal_diff_count > max_diff) : # if new difference found is greater than current max diff then 
            max_diff = Goal_diff_count
            max_min_goal_diff['max'] = team            
        
        if(Goal_diff_count < min_diff) : #if new difference found is less than current min diff then  
            if (Goal_diff_count >=0) :
                min_diff = Goal_diff_count
                max_min_goal_diff['min'] = team                
        
        if (gamesPlayed > 0) :            #if Games Played > 0 
            if(abs(Goal_diff_count) < min_diff_1) :
                min_diff_1 = abs(Goal_diff_count)
                max_min_goal_diff['min_atleast_onegame_played'] = team
        
    return teams, max_min_goal_diff ;

In [13]:
#Display Team and its "Goal Differences" and team name of max and min goal difference

teams,max_min_goal_diff = Goal_diff_count(sports)

In [14]:
teams    # Team and its "Goal Differences"

{'Real Madrid': 2807,
 'Barcelona': 2786,
 'Atletico Madrid': 1225,
 'Valencia': 929,
 'Athletic Bilbao': 931,
 'Sevilla': 307,
 'Espanyol': -280,
 'Real Sociedad': -2,
 'Zaragoza': -164,
 'Real Betis': -333,
 'Deportivo La Coruna': -136,
 'Celta Vigo': -346,
 'Valladolid': -413,
 'Racing Santander': -525,
 'Sporting Gijon': -399,
 'Osasuna': -334,
 'Malaga': -342,
 'Oviedo': -309,
 'Mallorca': -189,
 'Las Palmas': -399,
 'Villarreal': 103,
 'Granada': -338,
 'Rayo Vallecano': -328,
 'Elche': -272,
 'Getafe': -113,
 'Hercules': -334,
 'Tenerife': -125,
 'Murcia': -385,
 'Alaves': -165,
 'Levante': -202,
 'Salamanca': -159,
 'Sabadell': -228,
 'Cadiz': -269,
 'Logrones': -198,
 'Castellon': -169,
 'Albacete': -90,
 'Almeria': -122,
 'Cordoba': -145,
 'Compostela': -42,
 'Recreativo': -94,
 'Burgos CF': -94,
 'Pontevedra': -56,
 'Numancia': -98,
 'Eibar': -28,
 'Arenas': -81,
 'Real Burgos': -38,
 'Gimnastic': -114,
 'Extremadura': -55,
 'Merida': -45,
 'Alcoyano': -107,
 'Jaen': -62,
 'Real Union': -31,
 'AD Almeria': -45,
 'Europa': -34,
 'Lleida': -112,
 'Leganes': -19,
 'Xerez': -28,
 'Condal': -20,
 'Atletico Tetuan': -34,
 'Cultural Leonesa': -31,
 'Girona': 0}

In [15]:
#Team which has max goal difference
max_min_goal_diff['max']

'Real Madrid'

In [16]:
#Team which has min goal difference - while calculating this, all teams are considered i.e. GamesPlayed =0 or >0
max_min_goal_diff['min']

'Girona'

In [17]:
#Team which has min goal difference - while calculating this, teams which have GamesPlayed > 0 are considered
max_min_goal_diff['min_atleast_onegame_played']

'Real Sociedad'

In [18]:
#Question (5)
#Create a new column with the name “Winning Percent” and append it to the data set
import numpy as np

#function to check if value is inf or NaN then return 0 else return same value
def isitInf(x) :
    if np.isinf(x) :
        return 0
    elif np.isnan(x) :
        return 0
    else :
        return x

In [19]:
sports['GamesWon'] = sports['GamesWon'].map(lambda x : int(x))
sports['GamesPlayed'] = sports['GamesPlayed'].map(lambda x : int(x))

In [20]:
# Percentage of Winning = (GamesWon / GamesPlayed)*100 
sports['Winning Percent'] = round((sports['GamesWon']/sports['GamesPlayed'])*100,2)

In [21]:
# When above statement gets executed, 
# if GamesPlayed = 0 then Winning Percent will be assigned value inf i.e. infinite
# If Gamesplayed=0 and GamesWon=0 then Winning Percent will be assigned value Nan
# but if Gamesplayed is 0 then  GamesWon = 0 => Winning Percent = 0 %
# to make Winning Percent = 0 for Gamesplayed = 0 below line of code
sports['Winning Percent'].map(isitInf)

0     59.63
1     57.24
2     47.48
3     44.56
4     43.77
      ...
56    21.05
57    23.33
58    23.33
59    16.67
60     0.00
Name: Winning Percent, Length: 61, dtype: float64

In [22]:
#Print the top 5 teams which have the highest Winning percentage
sports.sort_values(by=['Winning Percent'],ascending=[False])[['Team','Winning Percent']].head(5)

              Team  Winning Percent
0      Real Madrid            59.63
1        Barcelona            57.24
2  Atletico Madrid            47.48
3         Valencia            44.56
4  Athletic Bilbao            43.77

In [23]:
# Question (6)
#Group teams based on their “Best position” and print the sum of their points for all positions

In [24]:
sports['Points'] = sports['Points'].map(lambda x : int(x))

In [25]:
gb= sports.groupby('BestPosition')[['Points']].sum()

In [26]:
gb.count()

Points    18
dtype: int64

In [27]:
gb.head(18)            #there are total 18 groups based on count in above line

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34