In [1]:
import scipy.stats as stats

In [6]:
stats.norm.cdf(110,loc=100,scale=10) - stats.norm.cdf(90,loc=100,scale=10)

0.6826894921370859

In [18]:
stats.norm.cdf(123.26,loc=100,scale=10) - stats.norm.cdf(70,loc=100,scale=10)-0.015

0.9736408266275023

In [21]:
stats.norm.isf(0.99,loc=100,scale=10)

76.7365212595916

In [22]:
import numpy as np

In [24]:
np.log10(10)

1.0

In [29]:
lst = list([4, 6, 8, 10, 12, 14,16,1])

In [26]:
lst.mean()

AttributeError: 'list' object has no attribute 'mean'

In [8]:
lst.sort()

In [9]:
lst

[40, 58, 72, 74, 74, 76, 81, 83, 84, 92]

In [30]:
import pandas as pd
df1 = pd.DataFrame(lst)

In [31]:
df1.describe()

               0
count   8.000000
mean    8.875000
std     5.111262
min     1.000000
25%     5.500000
50%     9.000000
75%    12.500000
max    16.000000

In [23]:
(50/100)*(50/99) + (50/100)*(50/99)

0.5050505050505051

In [1]:
import pandas as pd

In [27]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar','foo','foo','foo','foo'],
                   'B' : [1, 2, 3, 4, 5, 6, 4,5,3,2],
                   'C' : [2.0, 5., 8., 1., 2., 9.,3.,8.,4.,5.]})

In [29]:
df.head(10)

     A  B    C
0  foo  1  2.0
1  bar  2  5.0
2  foo  3  8.0
3  bar  4  1.0
4  foo  5  2.0
5  bar  6  9.0
6  foo  4  3.0
7  foo  5  8.0
8  foo  3  4.0
9  foo  2  5.0

In [30]:
df.groupby('A')

In [32]:
grouped = df.groupby('A')
grouped.filter(lambda x: len(x)>=4)

     A  B    C
0  foo  1  2.0
2  foo  3  8.0
4  foo  5  2.0
6  foo  4  3.0
7  foo  5  8.0
8  foo  3  4.0
9  foo  2  5.0