In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
import re

In [7]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /home/amol/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
# Read data set
x_train, y_train = [], []
x_test, y_test = [],[]

In [9]:
with open('/home/amol/GL/Residency-9/Statistical NLP AIML/r8-train-all-terms.txt','r') as infile :
    for line in infile :
        label, txt = line.split('\t')
        x_train.append(txt)
        if label=='' :
            label='NULL'
        y_train.append(label)

In [10]:
len(y_train)

5485

In [11]:
len(x_train)

5485

In [12]:
x_train, y_train = np.array(x_train), np.array(y_train)

In [13]:
y_train.shape

(5485,)

In [14]:
np.unique(y_train)

array(['acq', 'crude', 'earn', 'grain', 'interest', 'money-fx', 'ship',
       'trade'], dtype='<U8')

In [15]:
with open('/home/amol/GL/Residency-9/Statistical NLP AIML/r8-test-all-terms.txt','r') as infile :
    for line in infile :
        label, txt = line.split('\t')
        x_test.append(txt)
        if label=='' :
            label='NULL'
        y_test.append(label)

In [16]:
x_test , y_test = np.array(x_test), np.array(y_test)

In [17]:
x_test.shape

(2189,)

In [18]:
y_test.shape

(2189,)

In [19]:
x_train[2]

'cobanco inc cbco year net shr cts vs dlrs net vs assets mln vs mln deposits mln vs mln loans mln vs mln note th qtr not available year includes extraordinary gain from tax carry forward of dlrs or five cts per shr reuter \n'

In [20]:
y_train[2]

'earn'

In [21]:
tokeniser = nltk.WordPunctTokenizer()

In [22]:
def processText(doc) :
    doc = doc.lower()
    doc = doc.strip()
    doc = re.sub(r'[\a-zA-z\s]',' ',doc, re.I|re.A)
    tokens = tokeniser.tokenize(doc)
    filtertokens = [token for token in tokens if token not in stop_words]
    doc = ' '.join(filtertokens)
    return doc

In [23]:
normal_processText = np.vectorize(processText)

In [24]:
x_train = normal_processText(x_train)

In [28]:
x_train

array(['annual meeting april increase authorized capital stock five mln mln shares reuter',
       'rants exercisable five years purchase price dlrs per share computer terminal said sedio also right buy additional shares increase total holdings pct computer terminal outstanding common stock certain circumstances involving change control company company said conditions occur warrants would exercisable price equal pct common stock market price time exceed dlrs per share computer terminal also said sold technolgy rights dot matrix impact technology including future improvements woodco inc houston tex dlrs said would continue exclusive worldwide licensee technology woodco company said moves part reorganization plan would help pay current operation costs ensure product delivery computer terminal makes computer generated labels forms tags ticket printers terminals reuter',
       '', ...,
       'ividend company made initial public stock offering march five reuter',
       'reuter',
       'talks state government broke last night two sides scheduled meet later today attempt find compromise rail freight shipping cargo movements country populous state first affected union officials said almost every business sector hit unless quick settlement state government recently introduced new workers compensation act would cut cash benefits injured workers third act awaiting parliamentary ratification nsw state premier barrie unsworth said workers compensation risen steeply recent years proposed cuts would save hundreds mlns dollars year union officials said industrial action could spread states federal government also plans make sharp cuts workers compensation reuter'],
      dtype='<U3628')

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

In [30]:
cv = CountVectorizer()

In [31]:
vt = cv.fit(x_train)

In [32]:
type(vt)

sklearn.feature_extraction.text.CountVectorizer

In [33]:
vt_trans = cv.transform(x_train)

In [34]:
vt_trans.shape

(5485, 15626)

In [36]:
vt_trans = vt_trans.toarray()

In [37]:
features = cv.get_feature_names()

In [40]:
len(features)

15626

In [42]:
df = pd.DataFrame(vt_trans, columns=features)

In [43]:
df

,aap,ab,abal,abandon,abandoned,abandoning,abbas,abbett,abbey,abdel,...,zolotukhin,zone,zones,zorinsky,zubedei,zubeidi,zuccherifici,zuckerman,zurich,zuyuan
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5481,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5482,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5483,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
df['Class'] = y_train

In [45]:
df

,aap,ab,abal,abandon,abandoned,abandoning,abbas,abbett,abbey,abdel,...,zone,zones,zorinsky,zubedei,zubeidi,zuccherifici,zuckerman,zurich,zuyuan,Class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,earn
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,acq
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,earn
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,earn
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,earn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,earn
5481,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,money-fx
5482,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,earn
5483,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,money-fx
5484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ship

In [46]:
from sklearn import preprocessing

In [47]:
sc = preprocessing.LabelEncoder()

In [48]:
labels = sc.fit_transform(df['Class'])

In [49]:
labels

array([2, 0, 2, ..., 2, 5, 6])

In [60]:
df['Class'].value_counts()

earn        2840
acq         1596
crude        253
trade        251
money-fx     206
interest     190
ship         108
grain         41
Name: Class, dtype: int64

In [50]:
df['Labels'] = labels

In [52]:
df['Labels'].value_counts()

2    2840
0    1596
1     253
7     251
5     206
4     190
6     108
3      41
Name: Labels, dtype: int64

In [53]:
df.head(10)

,aap,ab,abal,abandon,abandoned,abandoning,abbas,abbett,abbey,abdel,...,zones,zorinsky,zubedei,zubeidi,zuccherifici,zuckerman,zurich,zuyuan,Class,Labels
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,acq,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,earn,2

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
from sklearn.naive_bayes import BernoulliNB

In [56]:
model = BernoulliNB()

In [57]:
model.fit(vt_trans, labels)

BernoulliNB()

In [58]:
pred_tran = model.predict(vt_trans)

In [59]:
print(accuracy_score(labels,pred_tran))

0.7121239744758432