# 1. Popularity Based Recommendation System

In [92]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## About the Dataset (jokes.csv)



 
1. Ratings are real values ranging from -10.00 to +10.00 (the value "99" corresponds to "null" = "not rated").
  
2. One row per user
3. The first column gives the number of jokes rated by that user. The next 100 columns give the ratings for jokes 01 - 100.

### Q1. Read the data (jokes.csv)

In [93]:
import pandas as pd
import numpy as npb
import seaborn as sns
import matplotlib.pyplot as plt

In [94]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.16.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.15.0)

In [95]:
dfjokes = pd.read_csv("/content/drive/My Drive/Residency5/Dataset - jokes.csv")

In [96]:
dfjokes.shape

(24983, 101)

In [97]:
dfjokes.head()

   NumJokes  Joke1  Joke2  Joke3  ...  Joke97  Joke98  Joke99  Joke100
0        74  -7.82   8.79  -9.66  ...   -5.63   99.00   99.00    99.00
1       100   4.08  -0.29   6.36  ...    3.06    0.34   -4.32     1.07
2        49  99.00  99.00  99.00  ...   99.00   99.00   99.00    99.00
3        48  99.00   8.35  99.00  ...   99.00   99.00   99.00    99.00
4        91   8.50   4.61  -4.17  ...    3.11    6.55    1.80     1.60

[5 rows x 101 columns]

### Q2. Create new Dataframe `ratings` starting from column `joke1` and consider first 200 rows only

In [98]:
dfRatings = dfjokes.loc[:199, 'Joke1':]

In [99]:
dfRatings.shape

(200, 100)

### Q3. Preprocess `ratings`


*   Verify presence of null values
*   Replace null with 0

In [100]:
dfRatings.isna().sum().sum() #Check null values

0

In [101]:
dfRatings.replace(99,0,inplace=True)

### Q4. Find mean for each joke


*   Find mean of 100 jokes

In [102]:
meanratings = dfRatings.mean(axis=0)

In [103]:
meanratings.sort_values(ascending=False)[0:10]      #using series

Joke50    4.05540
Joke36    3.61150
Joke53    3.57150
Joke35    3.22315
Joke29    3.18995
Joke27    3.05240
Joke62    2.86185
Joke49    2.85000
Joke32    2.77955
Joke31    2.65710
dtype: float64

In [104]:
dfmeanratings = pd.DataFrame({'MeanRating': meanratings})      #using daraframe

### Q5. List most popular 10 jokes

In [105]:
dfmeanratings.sort_values(by='MeanRating',axis=0,ascending=False).head(10)

        MeanRating
Joke50     4.05540
Joke36     3.61150
Joke53     3.57150
Joke35     3.22315
Joke29     3.18995
Joke27     3.05240
Joke62     2.86185
Joke49     2.85000
Joke32     2.77955
Joke31     2.65710

#2. Collaborative Filtering based Recommendation System

## About the Dataset

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

#### Execute below cells to read the datasets

In [106]:
import os 
os.chdir('/content/drive/My Drive/Residency5')

In [107]:
books = pd.read_csv("Dataset -books.csv", sep=";", error_bad_lines=False, encoding="latin-1")

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\n'

ParserError: ignored

In [79]:
books = pd.read_csv("/content/drive/My Drive/Residency5/Dataset -books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']


users = pd.read_csv("/content/drive/My Drive/Residency5/Dataset- users.csv", sep=";", error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv("/content/drive/My Drive/Residency5/Dataset - ratings.csv", sep=";", error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\n'

ParserError: ignored

In [91]:
users = pd.read_csv("Dataset- users.csv", sep=";", error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ParserError: ignored

# Q1. Explore the Dataset

1.   Check shape of all the datasets
2.   Print Columns in all the datasets
3.   Remove last 3 columns of `books` ('imageUrlS', 'imageUrlM', 'imageUrlL')and verify

# Q2. Data Preprocessing

### Create new DataFrame `ratings_new` with:
1.   Books from `ratings` Dataset, which exists in `books` Dataset (Intersect on ISBN)
2.   Ratings from `ratings` Dataset, which exists in `users` Dataset (Intersect on userID)

# Q3. Data Preprocessing

### In new Dataframe, drop rows with 0 `bookRating`, since 0 is mentioned as 'Implicit Rating'.
#### (Check shape of new Dataframe before and after dropping 0s)

# Q4. Check rating's distribution
### Plot a visual to identify highest occuring rating

# Q5. Build a User-Based Collaborative Filtering model



1.   Consider users who have rated atleast 100 books
2.   Transform data to surprise format
3.   Assure that only user, book and rating columns are present in the new dataset in surprise format

In [ ]:
#2 Transform data to surprise format
from surprise import Dataset,Reader
from surprise.model_selection import cross_validate
from surprise import NormalPredictor


reader = Reader(rating_scale=(1, 10))

# Q6. Apply SVD for user based filtering


1.   Split the data into train and test
2.   Train model on SVD
3.   Test Accuracy of the model

# Q7. Create a function to generate `n` recommendations for user `x`. (n, x should be parameterized)